body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
}

nav {
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #4caf50;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
}

label,
input,
button {
  margin: 10px 0;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px 0;
}

p {
  color: red;
}
